Repository E3SM-Project/simboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier

.pre-commit-config.yaml:

repos:
  # ------------------------
  # General sanity checks
  # ------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # ------------------------
  # Backend (Python / FastAPI)
  # ------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.14
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # ------------------------
  # Frontend (Node / TS)
  # ------------------------
  - repo: local
    hooks:
      - id: frontend-eslint
        name: Frontend ESLint (staged files)
        entry: bash -c 'pnpm --dir frontend run lint:fix:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: frontend-prettier
        name: Frontend Prettier (staged files)
        entry: bash -c 'pnpm --dir frontend run format:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$

Apply suggestions from code review
  backend/README.md
  docs/developer/README.md
Due: none

Handle oversized assistant snapshot fallback
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/snapshot.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/assistant/test_snapshot.py
Due: none

Update workspace settings
  backend/.vscode/settings.json
Due: none

Add LLM-backed simulation summaries with deterministic fallback (#187)
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/.vscode/settings.json
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/__init__.py
  backend/app/features/assistant/api.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/registry.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/app/features/assistant/snapshot.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/core/test_config.py
  backend/tests/features/assistant/__init__.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/uv.lock
  docs/developer/README.md
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Fix post-login redirect handling
  backend/app/features/user/api/oauth.py
  backend/app/features/user/auth/oauth.py
  backend/tests/features/user/api/test_oauth.py
  backend/tests/features/user/auth/test_oauth.py
  frontend/src/auth/AuthCallback.tsx
  frontend/src/auth/AuthContext.tsx
  frontend/src/auth/context.ts
  frontend/src/auth/returnTarget.ts
Due: frontend-eslint, frontend-prettier

Rename and reorder functions
  backend/app/features/user/api/oauth.py
  backend/app/features/user/auth/oauth.py
  backend/tests/features/user/auth/test_oauth.py
Due: none

Address PR review comments
  backend/app/features/user/auth/oauth.py
  backend/tests/features/user/auth/test_oauth.py
  frontend/src/auth/AuthCallback.tsx
  frontend/src/auth/returnTarget.ts
Due: frontend-eslint, frontend-prettier

Update tests for complete coverage
  backend/tests/features/user/api/test_oauth.py
  backend/tests/features/user/auth/test_oauth.py
Due: none

Add hybrid CASE_HASH support for ingestion
  backend/app/features/ingestion/ingest.py
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/app/features/ingestion/parsers/types.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/migrations/versions/20260330_000000_add_case_hash_to_simulations.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
Due: none

Add ingest case hash coverage tests
  backend/tests/features/ingestion/test_ingest.py
Due: none

Fix CASE_HASH baseline fallback for legacy references
  backend/app/features/ingestion/ingest.py
  backend/tests/features/ingestion/test_ingest.py
Due: none

Rename migration file
  backend/migrations/versions/20260414_000000_add_case_hash_to_simulations.py
Due: none

Fix ruff issue
  backend/app/features/ingestion/ingest.py
Due: none

Refine case hash grouping semantics
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Refine case simulation analysis UI
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/features/simulations/caseUtils.ts
Due: frontend-eslint, frontend-prettier

Add implementation plan
  docs/ai-196-local-llm/README.md
Due: none

feat(assistant): add ollama provider and local setup docs
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/schemas.py
  backend/tests/core/test_config.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  docs/ai-196-local-llm/README.md
  docs/deploy/spin.md
  docs/developer/README.md
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Remove OpenAI and Anthropic assistant providers
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/schemas.py
  backend/pyproject.toml
  backend/tests/core/test_config.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/uv.lock
  docs/deploy/spin.md
  docs/developer/README.md
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Improve local LLM fallback behavior and Ollama workflow
  .envs/example/backend.env.example
  Makefile
  backend/README.md
  backend/app/features/assistant/api.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  docs/developer/README.md
  frontend/pnpm-lock.yaml
  frontend/src/features/simulations/api/api.ts
Due: frontend-eslint, frontend-prettier

Harden assistant LLM fallback validation
  backend/app/features/assistant/orchestrator.py
  backend/tests/features/assistant/test_orchestrator.py
Due: none

Show AI summary runtime in simulation UI
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
Due: frontend-eslint, frontend-prettier

Update docs
  backend/README.md
  docs/developer/README.md
Due: none

Strengthen prompt contract
  backend/app/features/assistant/llm_generator.py
  backend/tests/features/assistant/test_llm_generator.py
Due: none

Update LivAI defaults and add model selection guidance
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  docs/developer/README.md
Due: none

Fix Ollama assistant auth fallback
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  docs/deploy/spin.md
Due: none

Gate summary fallback warning on actual fallback
  backend/app/features/assistant/api.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_orchestrator.py
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Add docstrings and format code in llm_generator.py
  backend/app/features/assistant/llm_generator.py
Due: none

Add remaining unit tests
  backend/tests/features/assistant/test_orchestrator.py
Due: none

Add AI-backed simulation summaries and local LLM provider support (#198)
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  Makefile
  backend/.vscode/settings.json
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/__init__.py
  backend/app/features/assistant/api.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/registry.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/app/features/assistant/snapshot.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/core/test_config.py
  backend/tests/features/assistant/__init__.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/uv.lock
  docs/ai-196-local-llm/README.md
  docs/deploy/spin.md
  docs/developer/README.md
  frontend/pnpm-lock.yaml
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Fix frontend Docker pnpm config
  frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend-prettier

Make simulation summaries capability-aware
  backend/app/features/assistant/api.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/app/features/user/manager.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  backend/tests/features/user/test_manager.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Fix LLM capability test setup
  backend/tests/features/simulation/test_api.py
Due: none

Add remaining tests
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/user/test_manager.py
Due: none

Fix Effect Event dependency usage
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
Due: frontend-eslint, frontend-prettier

Make simulation summaries capability-aware (#202)
  backend/app/features/assistant/api.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/app/features/user/manager.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  backend/tests/features/user/test_manager.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Add database-backed ingestion state management for path ingestion (#204)
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/models.py
  backend/app/features/ingestion/schemas.py
  backend/app/scripts/README.md
  backend/app/scripts/ingestion/nersc_archive_ingestor.py
  backend/migrations/versions/20260526_120000_add_processed_execution_ids_to_ingestions.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_nersc_archive_ingestor.py
  backend/tests/features/ingestion/test_schemas.py
  backend/tests/features/ingestion/test_token_ingestion.py
  docs/deploy/spin.md
  docs/developer/README.md
Due: none

Add stateful HPC upload ingestion
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/schemas.py
  backend/app/scripts/README.md
  backend/app/scripts/ingestion/hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_schemas.py
  backend/tests/features/ingestion/test_token_ingestion.py
  docs/developer/README.md
  docs/hpc_api_token_authentication.md
Due: none

Simplify HPC upload execution ID form fields
  backend/app/features/ingestion/api.py
  backend/app/scripts/ingestion/hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_hpc_upload_archive_ingestor.py
  backend/tests/features/ingestion/test_token_ingestion.py
  docs/developer/README.md
  docs/hpc_api_token_authentication.md
Due: none

Update automated hpc metadata ingestion section of developer/README.md
  docs/developer/README.md
Due: none

Add MkDocs docs hosting
  .gitignore
  .readthedocs.yaml
  Makefile
  README.md
  backend/pyproject.toml
  backend/uv.lock
  docs/README.md
  docs/architecture/metadata-ingestion.md
  docs/backend/README.md
  docs/cicd/README.md
  docs/deploy/deployment-and-release.md
  docs/developer/README.md
  docs/frontend/README.md
  mkdocs.yml
Due: none
