Repository E3SM-Project/simboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: bash -c 'pnpm --dir frontend run lint:fix:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
  language: system

frontend-prettier:
  name: Frontend Prettier (staged files)
  entry: bash -c 'pnpm --dir frontend run format:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
  language: system

Reorder functions in api.py
  backend/app/features/pace/api.py
Due: none

Address PACE PR review feedback
  backend/app/features/pace/api.py
  backend/tests/features/pace/test_api.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
Due: frontend-eslint, frontend-prettier

Add non-blocking PACE links to simulation details (#176)
  backend/app/features/pace/__init__.py
  backend/app/features/pace/api.py
  backend/app/main.py
  backend/tests/features/pace/test_api.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
Due: frontend-eslint, frontend-prettier

Add initial repo-local Codex skills
  .agents/skills/backend-engineer/SKILL.md
  .agents/skills/docs-writer/SKILL.md
  .agents/skills/feature-planner/SKILL.md
  .agents/skills/frontend-engineer/SKILL.md
  .agents/skills/reviewer/SKILL.md
  .agents/skills/test-engineer/SKILL.md
  .agents/skills/ui-ux-designer/SKILL.md
Due: none

Refine repo-local Codex skills
  .agents/skills/backend-engineer/SKILL.md
  .agents/skills/docs-writer/SKILL.md
  .agents/skills/feature-planner/SKILL.md
  .agents/skills/frontend-engineer/SKILL.md
  .agents/skills/reviewer/SKILL.md
  .agents/skills/test-engineer/SKILL.md
  .agents/skills/ui-ux-designer/SKILL.md
Due: none

Remove optional repo-local skills
  .agents/skills/feature-planner/SKILL.md
  .agents/skills/ui-ux-designer/SKILL.md
Due: none

Avoid volatile frontend test guidance
  .agents/skills/test-engineer/SKILL.md
Due: none

Add path artifact extraction and ingestion mapping
  backend/app/features/ingestion/ingest.py
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/app/features/ingestion/parsers/types.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/test_ingest.py
Due: none

Preserve ingested path artifacts as metadata
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/ingestion/parsers/case_docs.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  frontend/src/features/browse/components/SimulationResults/SimulationBrowseDetailsDialog.tsx
  frontend/src/features/compare/ComparePage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationPathCard.tsx
  frontend/src/types/artifact.ts
Due: frontend-eslint, frontend-prettier

Extract and preserve path artifacts during ingestion (#167)
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/app/features/ingestion/parsers/types.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  frontend/src/features/browse/components/SimulationResults/SimulationBrowseDetailsDialog.tsx
  frontend/src/features/compare/ComparePage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationPathCard.tsx
  frontend/src/types/artifact.ts
Due: frontend-eslint, frontend-prettier

Restructure documentation to follow OSS
  AGENTS.md
  CONTRIBUTING.md
  README.md
  backend/README.md
  docs/README.md
  docs/cicd/DEPLOYMENT.md
  docs/cicd/README.md
  docs/deploy/spin.md
  docs/developer/README.md
  docs/hpc_api_token_authentication.md
  frontend/README.md
Due: frontend-prettier

docs: clarify onboarding architecture flows
  README.md
  docs/developer/README.md
  docs/developer/simboard_ingestion_hpc.svg
Due: none

docs: reduce documentation drift
  README.md
  docs/cicd/DEPLOYMENT.md
  docs/cicd/README.md
Due: none

docs: improve accuracy of architecture and ingestion descriptions
  LICENSE
  README.md
  docs/developer/README.md
  docs/developer/simboard_ingestion_hpc.svg
  frontend/README.md
Due: frontend-prettier

docs: add daily workflow, change walkthrough, and troubleshooting to developer guide
  docs/developer/README.md
Due: none

chore: fix Makefile help text and remove frontend-local alias
  Makefile
Due: none

Reorganize repository documentation into overview, developer, and operations layers (#179)
  AGENTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  README.md
  backend/README.md
  docs/README.md
  docs/cicd/DEPLOYMENT.md
  docs/cicd/README.md
  docs/deploy/spin.md
  docs/developer/README.md
  docs/hpc_api_token_authentication.md
  frontend/README.md
Due: frontend-prettier

Update README with ingestion and artifact details
  docs/developer/README.md
Due: none

Update README with ingestion and artifact details (#180)
  docs/developer/README.md
Due: none

fix: substitute archive path variables during ingestion
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/parsers/test_parser.py
Due: none

Address Codex review comman
  backend/app/features/ingestion/parsers/case_docs.py
Due: none

Add full test coverage
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/pace/test_api.py
Due: none

Fix unresolved path variables during ingestion (#182)
  backend/app/features/ingestion/parsers/case_docs.py
  backend/app/features/ingestion/parsers/parser.py
  backend/tests/features/ingestion/parsers/test_case_docs.py
  backend/tests/features/ingestion/parsers/test_parser.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/pace/test_api.py
Due: none

Add docs update issue template
  .github/ISSUE_TEMPLATE/docs_update.yml
  CONTRIBUTING.md
Due: none

Add live plan for zppy links feature
  backend/docs/174-zppy-links/plan.md
Due: none

Update plan.md
  backend/docs/174-zppy-links/plan.md
Due: none

Update pland
  backend/docs/174-zppy-links/plan.md
Due: none

Update plan
  backend/docs/174-zppy-links/plan.md
Due: none

Update plan.md to remove PACE integration changes
  backend/docs/174-zppy-links/plan.md
Due: none

Add backend support for sim detail feature
  backend/app/features/assistant/__init__.py
  backend/app/features/assistant/api.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/app/main.py
  backend/tests/features/assistant/__init__.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_service.py
Due: none

Add frontend support for sim detail feature
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Add frontend support for sim detail feature
  docs/52-ai-summary/phase-2-plan.md
Due: none

feat(assistant): add LLM-backed summary generation with multi-provider support
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/api.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/app/features/assistant/registry.py
  backend/app/features/assistant/schemas.py
  backend/app/features/assistant/service.py
  backend/app/features/assistant/snapshot.py
  backend/pyproject.toml
  backend/tests/core/test_config.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/uv.lock
  docs/52-ai-summary/phase-2-plan.md
  docs/developer/README.md
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Add assistant LLM tuning config
  .envs/example/backend.env.example
  .envs/example/backend.production.env.example
  backend/README.md
  backend/app/core/config.py
  backend/app/features/assistant/llm_generator.py
  backend/app/features/assistant/orchestrator.py
  backend/tests/core/test_config.py
  backend/tests/features/assistant/test_llm_generator.py
  backend/tests/features/assistant/test_orchestrator.py
  docs/52-ai-summary/phase-2-plan.md
  docs/developer/README.md
Due: none

Handle LivAI GPT-5 chat parameter limits
  backend/README.md
  backend/app/features/assistant/llm_generator.py
  backend/tests/features/assistant/test_llm_generator.py
  docs/developer/README.md
Due: none

Guard simulation summary hook against stale responses
  frontend/src/features/simulations/hooks/useSimulationSummary.ts
Due: frontend-eslint, frontend-prettier

Fix mypy error
  backend/tests/features/assistant/test_api.py
Due: none

Redesign the sim detail Summary tab- Simulation metadata stays the primary reading surface and AI summary content becomes a secondary, non-disruptive panel - Support for Desktop and Mobile
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationSummaryPanel.tsx
Due: frontend-eslint, frontend-prettier

Remove support for legacy LIVAI env vars
  backend/app/core/config.py
  backend/tests/core/test_config.py
Due: none

Remove phase 2 plan
  docs/52-ai-summary/phase-2-plan.md
Due: none

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$
