Repository E3SM-Project/simboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier

frontend-eslint:
  name: Frontend ESLint (staged files)
  entry: bash -c 'pnpm --dir frontend run lint:fix:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
  language: system

frontend-prettier:
  name: Frontend Prettier (staged files)
  entry: bash -c 'pnpm --dir frontend run format:staged -- $(printf "%s\n" "$@" | sed "s|^frontend/||")'
  language: system

Add diagnostics link API
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/app/main.py
  backend/tests/features/simulation/test_api.py
Due: none

Update plans
  backend/docs/174-zppy-links/phase-3-link-aggregation.md
  backend/docs/174-zppy-links/phase-4-provenance-scanner.md
Due: none

Add case-level diagnostic link aggregation
  backend/app/features/assistant/api.py
  backend/app/features/assistant/snapshot.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/link_utils.py
  backend/app/features/simulation/schemas.py
  backend/migrations/versions/20260604_130000_add_case_owned_external_links.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Refine case resources section UI
  frontend/src/features/simulations/CaseDetailsPage.tsx
Due: frontend-eslint, frontend-prettier

Refine simulation metadata editing
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/components/shared/SimulationStatusBadge.tsx
  frontend/src/features/simulations/SimulationsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationTypeBadge.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Address copilot review comments
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

[SimEdit]: Allow editing simulations from Simulation Details (#225)
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/components/shared/SimulationStatusBadge.tsx
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/SimulationsPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/features/simulations/components/SimulationTypeBadge.tsx
  frontend/src/features/simulations/routes.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

feat: support editing simulation artifacts and links
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Adress PR review comments
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
Due: frontend-eslint, frontend-prettier

Update display of form validation errors
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
Due: frontend-eslint, frontend-prettier

[SimEdit]: Support editing simulation artifacts and links (#227)
  backend/app/features/simulation/api.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Harden OAuth membership lookup
  backend/app/features/user/api/oauth.py
  backend/app/features/user/schemas/user.py
  backend/tests/features/user/api/test_oauth.py
Due: none

[SimEdit]: Define edit auth policy for simulation updates (#229)
  backend/README.md
  backend/app/features/simulation/api.py
  backend/app/features/user/api/oauth.py
  backend/app/features/user/auth/oauth.py
  backend/app/features/user/manager.py
  backend/app/features/user/models.py
  backend/app/features/user/schemas/user.py
  backend/migrations/versions/20260611_090000_add_github_membership_state.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/user/api/test_oauth.py
  backend/tests/features/user/schemas/test_user.py
  backend/tests/features/user/test_manager.py
  frontend/src/features/simulations/SimulationDetailsPage.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/user.ts
Due: frontend-eslint, frontend-prettier

Add markdown assist toolbar for simulation details
  frontend/src/features/simulations/components/MarkdownEditorField.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
Due: frontend-eslint, frontend-prettier

Fix index.css
  frontend/src/index.css
Due: frontend-prettier

Fix rendering of checklists
  frontend/src/components/shared/MarkdownContent.tsx
  frontend/src/index.css
Due: frontend-eslint, frontend-prettier

Add rich markdown editing for simulation details (#233)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/shared/MarkdownContent.tsx
  frontend/src/features/simulations/components/MarkdownEditorField.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Due: frontend-eslint, frontend-prettier

Add rich markdown editing from simulation details (#234)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/shared/MarkdownContent.tsx
  frontend/src/features/simulations/components/MarkdownEditorField.tsx
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Due: frontend-eslint, frontend-prettier

Normalize case identity
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/scripts/db/seed.py
  backend/migrations/versions/20260624_120000_normalize_case_identity.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_seed.py
Due: none

Add common utils
  backend/app/common/utils.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/api.py
Due: none

Add missing init files and tests and omit scripts
  backend/pyproject.toml
  backend/tests/common/__init__.py
  backend/tests/common/schemas/__init__.py
  backend/tests/common/test_utils.py
  backend/tests/features/simulation/test_api.py
Due: none

Address Copilot review on case identity PR
  backend/app/features/ingestion/ingest.py
  backend/migrations/versions/20260624_120000_normalize_case_identity.py
Due: none

Fix remaining review comments on case identity PR
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/simulation/test_api.py
Due: none

Normalize case identity to (case_name, machine, hpc_username) (#237)
  backend/app/common/utils.py
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/scripts/db/seed.py
  backend/migrations/versions/20260624_120000_normalize_case_identity.py
  backend/pyproject.toml
  backend/tests/common/__init__.py
  backend/tests/common/schemas/__init__.py
  backend/tests/common/test_utils.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_seed.py
Due: none

Remove duplicate simulation identity fields
  backend/app/features/assistant/api.py
  backend/app/features/assistant/snapshot.py
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/machine/models.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/migrations/versions/20260624_163700_drop_simulation_identity_duplicates.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Address review feedback on simulation identity cleanup
  backend/app/scripts/db/seed.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/simulation/test_seed.py
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Remove duplicate simulation identity fields (#239)
  backend/app/features/assistant/api.py
  backend/app/features/assistant/snapshot.py
  backend/app/features/ingestion/api.py
  backend/app/features/ingestion/ingest.py
  backend/app/features/machine/models.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/app/scripts/db/seed.py
  backend/migrations/versions/20260624_163700_drop_simulation_identity_duplicates.py
  backend/tests/features/assistant/test_api.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/ingestion/test_api.py
  backend/tests/features/ingestion/test_ingest.py
  backend/tests/features/ingestion/test_token_ingestion.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  backend/tests/features/simulation/test_seed.py
  frontend/src/features/simulations/components/SimulationDetailsView.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Update plan.md to remove PACE integration changes
  backend/docs/174-zppy-links/plan.md
Due: none

Update plans
  backend/docs/174-zppy-links/phase-1-case-link-storage.md
  backend/docs/174-zppy-links/phase-2-diagnostics-link-api.md
  backend/docs/174-zppy-links/plan.md
Due: none

Update diagnostics URL handling in plan.md
  backend/docs/174-zppy-links/plan.md
Due: none

Add four phase implementation plan
  backend/docs/174-zppy-links/phase-1-case-link-storage.md
  backend/docs/174-zppy-links/phase-2-diagnostics-link-api.md
  backend/docs/174-zppy-links/phase-3-link-aggregation.md
  backend/docs/174-zppy-links/phase-4-provenance-scanner.md
Due: none

Add ExternalLink support for case
  backend/app/features/simulation/models.py
  backend/migrations/versions/20260624_130000_add_case_owned_external_links.py
  backend/tests/features/simulation/test_models.py
  backend/tests/features/simulation/test_schemas.py
Due: none

Add case-level diagnostic link aggregation
  backend/app/features/assistant/api.py
  backend/app/features/assistant/snapshot.py
  backend/app/features/simulation/api.py
  backend/app/features/simulation/link_utils.py
  backend/app/features/simulation/schemas.py
  backend/tests/features/assistant/test_service.py
  backend/tests/features/assistant/test_snapshot.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Fix diagnostics case resolution after case identity change
  backend/app/features/simulation/api.py
  backend/tests/features/simulation/test_api.py
Due: none

Move planning docs to root docs github-issues dir
  docs/github-issues/174-zppy-links/phase-1-case-link-storage.md
  docs/github-issues/174-zppy-links/phase-2-diagnostics-link-api.md
  docs/github-issues/174-zppy-links/phase-3-link-aggregation.md
  docs/github-issues/174-zppy-links/phase-4-provenance-scanner.md
  docs/github-issues/174-zppy-links/plan.md
Due: none

Add case-level SimEdit metadata
  backend/app/features/simulation/api.py
  backend/app/features/simulation/models.py
  backend/app/features/simulation/schemas.py
  backend/migrations/versions/20260625_120000_add_case_metadata_fields.py
  backend/tests/features/simulation/test_api.py
  backend/tests/features/simulation/test_schemas.py
  frontend/src/features/simulations/CaseDetailsPage.tsx
  frontend/src/features/simulations/CasesPage.tsx
  frontend/src/features/simulations/api/api.ts
  frontend/src/features/simulations/hooks/useCase.ts
  frontend/src/features/simulations/hooks/useCases.ts
  frontend/src/types/simulation.ts
Due: frontend-eslint, frontend-prettier

Move Edit button inside Case Metadata section
  frontend/src/features/simulations/CaseDetailsPage.tsx
Due: frontend-eslint, frontend-prettier

Path conditions:
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md)$
